Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.5.3
Flask-Limiter==3.5.0
Flasgger==0.9.7.1
python-dotenv==1.0.0
face-recognition==1.3.0
opencv-python==4.8.1.78
numpy==1.26.2
Pillow==10.1.0
Werkzeug==3.0.1
psycopg2-binary==2.9.9
Flask-CORS==4.0.0
